.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.background-5 {
}
.background-10 {
}
.background-20 {
}
.android_flat_button {
  font-size:14px;
  color:#169BD5;
}
.hint {
  color:#999999;
}
.menu_background {
}
.normal_text {
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:24px;
}
.android_title_text_light {
  font-size:20px;
  color:#FFFFFF;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.box_21 {
}
.ellipse {
}
._形状 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
.placeholder {
}
.line {
}
.link_button {
  color:#169BD5;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.text_field {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.line1 {
}
._文本段落 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line2 {
}
.arrow {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.menu_item {
}
.snapshot {
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._连接线 {
}
._流程形状 {
}
.icon {
}
._形状1 {
}
._文本段落1 {
  text-align:left;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
._形状2 {
}
.paragraph1 {
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.shape {
}
.flow_shape {
}
.image {
}
.paragraph2 {
  text-align:left;
}
.image1 {
  color:#000000;
}
.heading_31 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.horizontal_line {
}
.text_button {
  color:#02A7F0;
}
._contained_button {
  color:#FFFFFF;
}
._input_chip {
  color:rgba(0, 0, 0, 0.866666666666667);
}
._menu_bg {
}
._navigation_rail_item_bg {
}
._helper_text {
  font-size:12px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
}
._label {
}
._tooltips_desktop {
  font-size:12px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
._tooltips_mobile {
  font-size:14px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
.dialog_bg {
}
.table_cell {
}
textarea, select, input, button { outline: none; }
